@font-face {
    font-family: 'IRANSansWeb';
    src: url(../font/IRANSansWeb.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'IRANSansWebblack';
    src: url(../font/IRANSansWebBlack.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'IRANSansWebbold';
    src: url(../font/IRANSansWebBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

h1 {
    font-family: 'IRANSansWebblack', sans-serif
}

h2,
h3,
h4,
h5,
b {
    font-family: 'IRANSansWebbold', sans-serif
}

h6,
p,
a,
li,
input,
textarea {
    font-family: 'IRANSansWeb', sans-serif;
    line-height: 140%;
}

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

body {
    background-color: #0B0C11;
    overflow-x: hidden;
}

nav {
    margin: 2% 3% !important
}

.navcontact img {
    display: inline-block;
    width: 8.5%;
    margin: 0 .5%
}

.navcontact p {
    display: inline-block;
    direction: rtl;
    color: #F8C200;
    line-height: 150%;
    font-size: 100%;
    width: 30%;
    margin: 0 1% 0 5%
}

nav span {
    font-size: 90%
}

.navlogo {
    background-color: #FFF;
    display: block;
	border-radius: 0;
    /*border-radius: 0 0 3px 3px*/
}

.navlogo:hover,
.navlogo:focus {
    cursor: pointer
}

.navlogo img:first-of-type {
    background: #128763;
    width: 100%;
    padding: 15% 15% 10%;
	border-radius: 60px;

}

.navlogo img:last-of-type {
    display: block;
    margin: 0 auto;
    padding: 8% 0;
    width: 17%
}

.nav-btn {
    background-color: #F8C200;
    color: #030303;
    text-decoration: none;
    float: right;
    font-size: 70%;
    padding: 4.5% 8%;
    border-radius: 2px;
    text-align: center
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: .5s
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 200%;
    color: #818181;
    display: block;
    transition: .3s;
    margin-bottom: 1%
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px
}

section {
    width: 70%;
    display: block !important;
    margin: 0 auto !important
}

.sec3-nav {
    direction: rtl;
    text-align: center
}

.sec3-show h1 {
    display: block;
    margin: 5% auto;
    font-size: 150%;
    color: #F8C200
}

.sec3-show a {
    background-color: #16171C;
    border-radius: 2px;
    padding: 1% 3%;
    color: #FFF;
    font-size: 70%
}

.sec3-show img {
    width: 1.75%;
    margin: 0 0 -.5% 1%
}

.sec3-btns {
    display: block;
    padding: 5% 0;
    margin-left: 33%
}

.sec3-btns a {
    float: left;
    color: #FFF;
    font-size: 90%;
    margin-right: 15%;
    font-family: 'IRANSansWebbold';
    cursor: pointer
}

.selected {
    color: #F8C200 !important
}

.selected::after {
    content: '';
    display: block;
    margin: 10% auto 0;
    width: 60%;
    border-bottom: 2px solid #F8C200
}

.foodlist {
    margin: 5% 0
}

.foodlist div {
    padding: 0 1.5%
}

.food {
    position: relative;
    background: #128763;
    padding: 0 !important;
    border-radius: 5px;
    direction: rtl;
    color: #FFF;
    height: 95%
}

.food-text a {
    color: #FFF;
    font-family: 'IRANSansWebbold';
    font-size: 80%
}

.food-text {
    padding: 10% 5% !important;
    line-height: 150%
}

.discount {
    font-family: 'IRANSansWebbold';
    background-color: #128763;
    border-radius: 50px 0 0 50px;
    position: absolute;
    top: 5%;
    right: 0;
    color: white;
    font-size: 100%;
    padding: 2.5% 5%
}

.food-text p {
    font-family: 'IRANSansWebbold';
    font-size: 100%;
    padding: 10% 0
}

.food img {
    width: 100%;
    border-radius: 5px
}

.footerb {
    direction: rtl
}

.footerb ul {
    list-style: none
}

.footerbr ul {
    padding-left: 16%
}

.footerbr {
    padding: 5% 8% 0 0;
    color: #FFF;
    background: #242424;
    text-align: center
}

.footerbr li h1 {
    font-size: 125%;
    text-align: center;
    width: 120%;
    margin-bottom: 30%
}

.footerbr-img h1 {
    font-size: 125%;
    text-align: center;
    width: 65%;
    margin-bottom: 5%
}

.footerbr a {
    line-height: 250%;
    font-size: 80%;
    color: #FFF;
    text-decoration: none
}

.footerbr li {
    margin-bottom: 5%
}

.footerbr img {
    width: 65%;
    padding: 3% 0;
    border-radius: 10px
}

.licenes {
    padding: 25% 0 10%;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    text-align: center
}

.licenes span {
    color: #F8C200;
    font-size: 90%
}

.footerbl {
    background: #16171C;
    position: relative;
    padding: 4% 10% 4% 0
}

.footerbl li p {
    display: inline-block;
    color: #F8C200;
    margin-bottom: 3%;
    font-size: 90%;
    line-height: 150%;
    width: 40%;
    padding-right: 2%
}

.logof {
    margin-bottom: 15% !important
}

.logof img {
    width: 25% !important
}

.contactus-footer {
    margin-top: 10% !important
}

.contactus-footer img {
    margin-left: 1%
}

.footerbl li {
    margin-bottom: 3%
}

.footerbl li img {
    width: 10%
}

.footerbl b {
    font-size: 125%
}

.goupbtn {
    background-color: #191A1C;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center
}

.goupbtn a {
    display: inline-block;
    padding: 3.5% 1% 3% 0;
    color: #FFF;
    font-size: 75%
}

.goupbtn img {
    display: inline-block;
    margin-bottom: -1.5%
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .headimg h3 {
        font-size: 350%;
        margin: -40% 10% 0 0
    }

    .sec1-text h1 {
        font-size: 150%
    }

    .sec1-text h6 {
        font-size: 100%
    }

    .sec1-text p {
        font-size: 80%
    }

    .sec1-text {
        margin-bottom: 5%
    }

    .fooditem2 {
        width: 105%
    }

    .sec2 h1 {
        font-size: 100%
    }

    .sec4-playbtn {
        bottom: 45%
    }

    .commenttext {
        font-size: 100%
    }

    .sec5-text h1 {
        font-size: 100%
    }

    .sec5-desc {
        font-size: 80%
    }

    .footerbr ul {
        padding-left: 12%
    }

    .licenes {
        font-size: 70%
    }

    .footerbl b {
        font-size: 100%
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

    .navcontact,
    .nav-btn {
        display: none
    }

    .navlogo {
        width: 20%
    }

    .navlogo img:first-of-type {
        padding: 35% 15% 0
    }

    .headimg h3 {
        font-size: 250%
    }

    .sec1-text h1 {
        font-size: 120%;
        margin: 4% 0 5%
    }

    .sec1-text h6 {
        font-size: 80%
    }

    .sec1-text p {
        font-size: 80%
    }

    .sec1-text {
        margin-bottom: 5%
    }

    .fooditem2:first-of-type {
        margin-top: 6%
    }

    .sec2 h1 {
        font-size: 100%
    }

    .fooditem1 h1 {
        padding-bottom: 4%;
        padding-right: 2%
    }

    .sec2 .container {
        padding: 0
    }

    .sec4-comment {
        margin-top: 0;
        display: block;
        margin-right: auto;
        margin-left: auto
    }

    .sec4-btn div {
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none
    }

    .sec4-playbtn {
        bottom: 70%
    }

    .emailtext {
        float: none;
        text-align: center
    }

    .footer-top form {
        position: unset;
        padding-bottom: 5%
    }

    .footer-top input[type="submit"] {
        top: 2%;
        left: 27%
    }

    .emailform form {
        margin-right: 25%
    }

    .footerbr li h1 {
        width: 100%;
        margin-bottom: 5%
    }

    .footerbr li {
        padding-right: 5%;
        margin-bottom: 1%
    }

    .footerbr-img h1 {
        width: 100%;
        padding-left: 10%;
        padding-top: 10%
    }

    .footerbr img {
        width: 40%;
        margin: 2%
    }

    .rev {
        flex-direction: column-reverse
    }

    .goupbtn {
        display: none
    }

    .logof {
        margin-bottom: 5% !important
    }

    .licenes {
        margin-right: 7%
    }

    .sec3-show h1,
    .sec3-show a {
        display: block;
        text-align: center
    }

    .sec3-show a {
        margin-right: auto;
        margin-left: auto;
        padding: 2% 3%
    }

    .sec3-btns {
        display: block;
        margin-left: 25%
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {

    .navcontact,
    .nav-btn {
        display: none
    }

    .navlogo {
        width: 20%
    }

    .navlogo img:first-of-type {
        padding: 35% 15% 0
    }

    .headimg img {
        margin-top: -8%
    }

    .headimg h3 {
        font-size: 200%
    }

    .sec1-text h1 {
        font-size: 120%;
        margin: 4% 0 5%
    }

    .sec1-text h6 {
        font-size: 80%
    }

    .sec1-text p {
        font-size: 80%
    }

    .sec1-text {
        margin-bottom: 5%
    }

    .fooditem2:first-of-type {
        margin-top: 6%
    }

    .sec2 h1 {
        font-size: 100%
    }

    .fooditem1 h1 {
        padding-bottom: 4%;
        padding-right: 2%
    }

    .sec2 .container {
        padding: 0
    }

    .sec4-comment {
        margin-top: 0;
        display: block;
        margin-right: auto;
        margin-left: auto
    }

    .sec4-btn div {
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none
    }

    .sec4-playbtn {
        bottom: 70%
    }

    .commenttext {
        font-size: 80%
    }

    .emailtext {
        float: none;
        text-align: center
    }

    .footer-top form {
        position: unset;
        padding-bottom: 5%
    }

    .footer-top input[type="submit"] {
        top: 2%;
        left: 27%
    }

    .emailform form {
        margin-right: 25%
    }

    .footerbr li h1 {
        width: 100%;
        margin-bottom: 5%
    }

    .footerbr li {
        padding-right: 5%;
        margin-bottom: 1%
    }

    .footerbr-img h1 {
        width: 100%;
        padding-left: 10%;
        padding-top: 10%
    }

    .footerbr img {
        width: 40%;
        margin: 2%
    }

    .rev {
        flex-direction: column-reverse
    }

    .goupbtn {
        display: none
    }

    .logof {
        margin-bottom: 5% !important
    }

    .sec3-show h1,
    .sec3-show a {
        display: block;
        text-align: center
    }

    .sec3-show a {
        margin-right: auto;
        margin-left: auto;
        padding: 2% 3%
    }

    .sec3-btns {
        display: block;
        margin-left: 25%
    }
}

@media only screen and (max-width: 600px) {

    .navcontact,
    .nav-btn {
        display: none
    }

    .navlogo {
        width: 35%
    }

    .navlogo img:first-of-type {
        padding: 35% 15% 0
    }

    .headimg img {
        margin-top: -8%
    }

    .headimg h3 {
        font-size: 150%
    }

    .sec1-text h1 {
        font-size: 120%;
        margin: 4% 0 5%
    }

    .sec1-text h6 {
        font-size: 80%
    }

    .sec1-text p {
        font-size: 80%
    }

    .sec1-text {
        margin-bottom: 5%
    }

    .fooditem2:first-of-type {
        margin-top: 6%
    }

    .sec2 h1 {
        font-size: 100%
    }

    .fooditem1 h1 {
        padding-bottom: 4%;
        padding-right: 2%
    }

    .sec2 .container {
        padding: 0
    }

    .sec4-comment {
        margin-top: 0;
        display: block;
        margin-right: auto;
        margin-left: auto
    }

    .sec4-btn div {
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none
    }

    .sec4-playbtn {
        bottom: 74%
    }

    .sec5-text h1 {
        font-size: 100%
    }

    .commenttext {
        font-size: 80%
    }

    .emailtext {
        float: none;
        text-align: center
    }

    .footer-top form {
        position: unset;
        padding-bottom: 5%
    }

    .footer-top input[type="email"] {
        width: 80%
    }

    .footer-top input[type="submit"] {
        top: 3%;
        left: 18%
    }

    .emailform form {
        margin-right: 15%
    }

    .footerbr li h1 {
        width: 100%;
        margin-bottom: 5%
    }

    .footerbr li {
        padding-right: 5%;
        margin-bottom: 1%
    }

    .footerbr-img h1 {
        width: 100%;
        padding-left: 10%;
        padding-top: 10%
    }

    .footerbr img {
        width: 40%;
        margin: 2%
    }

    .rev {
        flex-direction: column-reverse
    }

    .goupbtn {
        display: none
    }

    .logof {
        margin-bottom: 5% !important
    }

    .licenes {
        font-size: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        text-align: center
    }

    .sec3-show h1,
    .sec3-show a {
        display: block;
        text-align: center
    }

    .sec3-show a {
        margin-right: auto;
        margin-left: auto;
        padding: 4% 3%
    }

    .sec3-btns {
        display: block;
        margin-left: 25%
    }
}

.nav-btn,
.navcontact a img,
.footerbl li img,
.goupbtn a,
.overlay-content a,
.footerbr a,
.discount,
.food,
.food-text a,
.sec3-btn,
.sec3-show a {
    transition-duration: .5s
}

.nav-btn:hover {
    color: #fff;
    background-color: unset;
    border: 1px #F8C200 solid;
    animation-timing-function: ease-out
}

.navcontact a img:hover,
.footerbl li img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2)
}

.goupbtn a:hover {
    margin-bottom: 2%
}

.overlay-content a:hover {
    color: #F8C200
}

.footerbr a:hover,
.food-text a:hover,
.sec3-btn:hover {
    color: #F8C200
}

.discount:hover {
    padding-right: 10%
}

.food:hover {
    margin-top: 3%
}

.sec3-show a:hover {
    border: 1px #F8C200 solid;
    background-color: unset
}
